
a{
  text-decoration: none !important;
  color: black !important;
   display: block !important;
}

ul, li{
  list-style-type: none !important;
  padding: 0 !important;
}
img{

  max-width: 100% !important;
   display: block !important;
}
